
.field button, .field button:hover, .field button:focus{
    background-color: var(--field-bg-color);
    border: 1px solid var(--field-border-color);
    color: inherit;
    height: 100%;
    width: 100%;
    text-align: left;
}

.field .dropdown-menu {
    background-color: var(--field-bg-color);
}

.isInvalid button {
    border: 1px solid var(--danger)
}